.login-divider {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  padding: 4px;
}
.login-divider > div {
  display: block;
  max-width: 400px;
  flex-grow: 1;
}

.login-divider > .form-container {
  min-width: 300px;
}

.login-divider > .usernames-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 280px;
  min-width: 280px;
  overflow-x: auto;
}

.usernames-container > .userblock {
  height: 120px;
  width: 120px;
  margin: 5px;
  padding: 5px;
  border-radius: 2px;
  background: white;
  color: black;
}

.register-container {
  width: 100%;
  color: white;
}
