@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    url("/components/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf");
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font: 1em "Open Sans", sans-serif;
}

.wrapper {
  position: relative;
  height: 100%;
  background: white;
  overflow: hidden;
}

.wrapper > .outer:not(:first-child) {
  visibility: hidden;
  opacity: 0;
}

.wrapper > .outer {
  opacity: 0;
}

.wrapper > .outer.transitioning {
  visibility: visible;
  display: flex;
}

.wrapper > .outer.active {
  opacity: 1;
}

.wrapper > .outer.transitioning > .inner {
  transition: transform 0.5s ease;
}

.outer {
  /* control position / maximum width & height */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

.inner {
  /* hold all page content */
  background: silver;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

.square {
  width: 200px;
  height: 200px;
  /*background: gray;*/
  margin: 10px;
  /*font-size: 10em;*/
  color: white;
  display: inline-block;
  word-wrap: break-word
}

#controls {
  position: fixed;
  bottom: 0;
  right: 0;
}
