@font-face {
  font-family: "Open Sans";
  src:
    local("Open Sans"),
    url("/components/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf");
}

html, body {
  padding: 0px;
  margin: 0px;
  font: 1em "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  background: #F5DF86;
}

a {
  color: #00B7FF;
}

#show {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

#stage {
  border-radius: 0em;
  transition: transform 0.5s ease, box-shadow 0.5s ease, border-radius 0.5s ease;
}

#stage .stage-element:not(:first-child) {
  visibility: hidden;
  display: block;
  position: absolute;
}

#stage > .stage-element {
  padding: 20px;
  transition: opacity 0.5s ease;
}

#stage.transitioning {
  transition: transform none;
  border-radius: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#stage .removed {
  opacity: 0;
}
