extends ../layout

block head
  link(href="/stylesheets/account.css", rel="stylesheet")
  
block content
  form#sign-in-form.form-signin(role='form', action='./login', method='POST')
    h2.form-signin-heading Log in
    input.form-control(type='username', name='username', placeholder='username')
    input.form-control(type='password', name='password', placeholder='password')
    button.btn.btn-primary.btn-block(type='submit') Submit

    a.btn.btn-default.btn-block(href='./register') Register
  
    if errors
      if errors.length
        h2 Errors!
        p=errors

block scripts
  if ref
    script.
      document.href = "#{ref}";
  script(src="/javascripts/login.js")
