extends layout

block content
  .wrapper#wrapper
    .outer#first.active
      .inner
        .square toasttoasttoasttoasttoast

    .outer#second
      .inner
        .square toasttoasttoasttoasttoast
        .square mosttoastmosttoastmosttoast

    .outer#third
      .inner
        .square toasttoasttoasttoasttoast
        .square mosttoastmosttoastmosttoast
        .square 3
        .square 4

    .outer#fourth
      .inner
        .square toasttoasttoasttoasttoastoasttoasttoasttoasttoast
        .square mosttoastmosttoastmosttoast
        .square 3
        .square 4
        .square 5
        .square 6
        .square 7
        .square 8


  #controls
    button#next Next
    button#previous Previous
    select#transition-type
      option(value="scale") Scale
      option(value="slide") Slide

block scripts
  script(src="/javascripts/index.js")
