extends layout

block content
  .wrapper.loading#wrapper
    .outer#first(hash-url="one")
      .inner
        .square 1

    .outer#second(hash-url="two")
      .inner
        .square 1
        .square 2

    .outer#third(hash-url="three")
      .inner
        .square 1
        .square 2
        .square 3
        .square 4

    .outer#fourth(hash-url="four")
      .inner
        .square 1
        .square 2
        .square 3
        .square 4
        .square 5
        .square 6
        .square 7
        .square 8


  #controls
    button#next Next
    button#previous Previous
    select#transition-type
      option(value="scale") Scale
      option(value="slide") Slide

block scripts
  script(src="/javascripts/index.js")
