extends layout

block content
  .wrapper.loading#wrapper
    .outer#index(hash-url="index", static=true)
      .inner
        a(href="/#/option")#main.btn.btn-default POUR

    .outer#option(hash-url="option", static=true)
      .inner
        #option
          a(href="/#/pour")#count.btn.btn-default COUNT
          a(href="/#/pour?anonymous=True")#pass.btn.btn-default PASS

    .outer#loading
      .inner
        div
          +loading_beer

  #controls
    select#transition-type
      option(value="scale") Scale
      option(value="slide") Slide

block scripts
  script(src="/javascripts/index.js")
