mixin loading_beer
  .beer-loading
    .glass
      .beer
      .foam
        .foamy

doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/loading-beer.css')
    block head

  body
    block content

    //script(src="/javascripts/main.js")
    block scripts
