form#sign-in-form.form-signin(name="signin" role='form', action='/account/login', method='POST')
  h2.form-signin-heading Log in
  div.usernames
    for user in users
      div.userblock=user.username
  input.form-control(type='username', name='username', placeholder='username')
  input.form-control(type='password', name='password', placeholder='password')
  button#submit.btn.btn-primary.btn-block(type='submit') Submit

  a.btn.btn-default.btn-block(href='/#/account/register') Register
  input(action="action", type="button", value="Back", onclick="window.history.go(-1); return false").btn.btn-default

  if errors
    if errors.length
      h2 Errors!
      p=errors

script().
  var form = document.getElementById('sign-in-form');
  var submit = document.getElementById('button');
  submit.onclick = function(evt) {
    return false;
  }
