{
  "kegs": {
    "test": {
      "name": "test keg",
      "virtual": true
    },
    "0": {
      "name": "closet keg",
      "virtual": false,
      "port" : "auto",
      "serial_id" : "641313833313510132E0"
    }
  },
  "simulator_settings": {
    "path": "~/Packages/simavr/examples/board_simduino",
    "command": ["stdbuf", "-oL", "-eL", "./obj-x86_64-linux-gnu/simduino.elf"]
  }
}
